name: Hello CI

on:
  push:
    branches:
      - main
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: start build job
        run: |
          echo "start build job on branch ${{github.ref}}"
          echo "context github: ${{github.event_name}}, " 
          echo "repository: ${{github.repository}}, "
          echo "auteur: ${{github.actor}}, "
          echo "autres variables:  ${{github.ref}}, ${{github.sha}}, ${{github.workflow}}, ${{github.action}}, ${{github.actor}}"
