name: LaTeX to PDF

on:
  push:
    branches:
      - master

  workflow_dispatch:

jobs:
  build_latex:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile LaTeX to PDF
        uses: xu-cheng/latex-action@v4
        with:
          root_file: files/*.tex
          work_in_root_file_dir: true
          compiler: lualatex
          args: "-interaction=nonstopmode -file-line-error"

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: files/*.pdf
          retention-days: 1

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: files/*.pdf
          tag_name: latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
