name: LaTeX to PDF

on:
  push:
    branches:
      - master

jobs:
  build_latex:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile LaTeX to PDF
        uses: xu-cheng/latex-action@v4
        with:
          root_file: files/index.tex
          compiler: lualatex
          args: "-interaction=nonstopmode -file-line-error"

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: files/index.pdf
          retention-days: 1
