name: LaTeX to PDF

on:
  push:
    branches: [master]

  workflow_run:
    workflows: ["Hello CI"]
    types:
      - completed

jobs:
  build_latex:
    runs-on: ubuntu-latest
    #if: github.event.workflow_run.conclusion == 'success'  # pour activer le workflow run push 
    strategy: 
      matrix: 
        file: ["index.tex", "memoire.tex", "pageGarde.tex"] 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile LaTeX to PDF
        uses: xu-cheng/latex-action@v4
        with:
          root_file: files/${{ matrix.file }}
          work_in_root_file_dir: true
          latexmk_use_lualatex: true
          args: "-file-line-error -halt-on-error -interaction=nonstopmode"

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: pdf-${{ matrix.file }} 
          path: files/*.pdf
          retention-days: 1
  release: 
    needs: build_latex 
    runs-on: ubuntu-latest
    
    steps: 
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: pdf-*
          merge-multiple: true
          path: compiled_pdfs 


      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: compiled_pdfs/*.pdf
          tag_name: latest

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
